<ul class="tree">
  <li *ngIf="tree">
    <ng-container *ngIf="tree.name!=='/'">
      <img *ngIf="tree.children" class="fold" [src]="tree.display?'./assets/imgs/arrow-drop-down-fill.svg':'./assets/imgs/arrow-drop-right-fill.svg'"
        (click)="flod()" />
      <div *ngIf="!tree.children" class="fold-black"></div>
      <label for="checkbox_{{key}}" (contextmenu)="contextmenuClick($event)">
        <ng-container *ngIf="tree.children" [ngSwitch]="tree.status">
          <img *ngSwitchCase="1" class="fold" src="./assets/imgs/checkbox-blank-line.svg" />
          <img *ngSwitchCase="2" class="fold" src="./assets/imgs/checkbox-fill.svg" />
          <img *ngSwitchCase="3" class="fold" src="./assets/imgs/checkbox-indeterminate-line.svg" />
          <img *ngSwitchDefault class="fold" src="./assets/imgs/checkbox-blank-line.svg" />
        </ng-container>
        <img *ngIf="!tree.children" class="fold" [src]="tree.selected?'./assets/imgs/checkbox-fill.svg':'./assets/imgs/checkbox-blank-line.svg'" />
      </label>
      <input class="checkbox" type="checkbox" id="checkbox_{{key}}" [ngModel]="tree.selected" (click)="checkboxClick($event)">
      <div class="node-name" (contextmenu)="contextmenuClick($event)">{{tree.name}}</div>
      <div #editBox class="edit-box edit-box-hidden">
        <ng-container *ngIf="editMode==='add'">
          <div>
            <input type="text" [(ngModel)]="addValue">
          </div>
          <button class="btn-add-node" (click)="addNode()">确定</button>
          <button class="btn-margin-left" (click)="cancelEdit()">取消</button>
        </ng-container>
        <ng-container *ngIf="editMode==='delete'">
          <button class="btn-add-node" (click)="deleteNode()">确认删除</button>
          <button class="btn-margin-left" (click)="cancelEdit()">取消</button>
        </ng-container>
        <ng-container *ngIf="editMode==='normal'">
          <button class="btn-add-node" (click)="switchToAddNodeMode()">添加</button>
          <button class="btn-margin-left" (click)="switchToDeleteNodeMode()">删除</button>
          <button class="btn-margin-left" (click)="cancelEdit()">取消</button>
        </ng-container>

      </div>
    </ng-container>
    <ng-container *ngFor="let node of tree.children;let i=index;">
      <parent-node *ngIf="tree.display" [tree]="node" [parent]="tree"></parent-node>
    </ng-container>
  </li>
</ul>