<ul class="tree">
  <li *ngFor="let node of tree.children;let i=index;">
    <img *ngIf="node.children" class="fold" [src]="node.display?'./assets/imgs/arrow-drop-down-fill.svg':'./assets/imgs/arrow-drop-right-fill.svg'"
      (click)="flod(i)" />
    <div *ngIf="!node.children" class="fold-black"></div>
    <label for="checkbox_{{key}}_{{i}}">
      <ng-container *ngIf="node.children" [ngSwitch]="node.status">
        <img *ngSwitchCase="1" class="fold" src="./assets/imgs/checkbox-blank-line.svg" />
        <img *ngSwitchCase="2" class="fold" src="./assets/imgs/checkbox-fill.svg" />
        <img *ngSwitchCase="3" class="fold" src="./assets/imgs/checkbox-indeterminate-line.svg" />
        <img *ngSwitchDefault class="fold" src="./assets/imgs/checkbox-blank-line.svg" />
      </ng-container>
      <img *ngIf="!node.children" class="fold" [src]="node.selected?'./assets/imgs/checkbox-fill.svg':'./assets/imgs/checkbox-blank-line.svg'" />
    </label>
    <input class="checkbox" type="checkbox" id="checkbox_{{key}}_{{i}}" [ngModel]="node.selected" (click)="checkboxClick($event,i)">
    <span class="node-name" (contextmenu)="contextmenuClick($event,i)">{{node.name}}</span>
    <child-node *ngIf="node.display" [tree]="node" [parent]="tree"></child-node>
  </li>
</ul>