ul {
  padding-left: 0px;
  margin-top: 3px;
}

ul li {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 2px;
}

.fold {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.fold-black {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.checkbox {
  display: none;
}

.node-name {
  display: inline-block;
  margin-left: 3px;
}

.node-name:hover {
  cursor: pointer;
  background-color: #0f0;
}

.node-status {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: #0f0;
}
