<div class="url">
  <div>
    <a class="demo-url" href="https://github.com/SimpleCodeCX/simple-ng-tree-list" target="_blank">
      本demo代码放在github上: https://github.com/SimpleCodeCX/simple-ng-tree-list
    </a>
  </div>
  <div>
    <a class="about-me" href="http://www.cxdsimple.com/cv/" target="_blank">
      关于我: http://www.cxdsimple.com/cv/
    </a>
  </div>
</div>
<div class="container">
  <button class="btn-add-node" (click)="addNode()">添加</button>
  <tree-list [tree]="treeData"></tree-list>
</div>