.url {
  text-align: center;
  margin-top: 38px;

  .demo-url {
    text-decoration: none;
    color: black;
  }

  .demo-url:hover {
    font-weight: bold;
    text-decoration: #888888;
  }

  .about-me {
    margin-left: 8px;
    margin-top: 5px;
    color: #888888;
  }
}

.container {
  width: 388px;
  margin: auto;
  margin-top: 28px;
  select {
    width: 120px;
    height: 30px;
    font-size: 1rem;
    margin-bottom: 12px;
  }
}
