.url {
  text-align: center;
  margin-top: 38px;

  .demo-url {
    text-decoration: none;
    color: black;
  }

  .demo-url:hover {
    font-weight: bold;
    text-decoration: #888888;
  }

  .about-me {
    margin-left: 8px;
    color: #888888;
  }
}
.container {
  margin-left: 488px;
  margin-top: 38px;

  .btn-add-node {
    width: 78px;
    height: 30px;
    font-size: 18px;
  }

  .btn-delete-node {
    width: 78px;
    height: 30px;
    font-size: 18px;
    margin-left: 20px;
  }
}
