ul li {
  list-style-type: none;
}

// .icon-unfold {
//   background: url("../../assets/imgs/arrow-drop-down-fill.svg");
//   display: inline-block;
//   width: 20px;
//   height: 20px;
//   border: 1px solid red;
// }

.fold {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.fold-black {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.checkbox-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  background: url("../../assets/imgs/btn_leftmenu_p.png") no-repeat;
}
.checkbox {
  display: none;
}

.node-status {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.node-name:hover {
  background-color: greenyellow;
}
